// This is the entrypoint for your styles.
// Import all your scss files here

@import 'base/variables';
@import 'base/mixins';
@import 'base/typography';
// ...
/* elementos */

/* bloques */

/* modulos */
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

:root {
	--color--background2: #fafafa;
	--color--background: #ffffff;
	--color--principal: #003970;
	--color--text: #4e5055;
	--color--btn--option--active: #033970;
	--color--secondary: #0c75c5;
	--height--header: 42px;
	--color--border--card: #326c96;
	--font--title--card: 'Roboto', sans-serif;
	--font--title--service: 'Roboto Slab', serif;
}
#section__tabs,
#section__services {
	padding: 0 20px 0 20px;
	height: 100vh;
	background-color: var(--color--background2);
}
/*SECTION HEADER*/
header {
	background-color: var(--color--background);
	width: 100%;
	height: var(--height--header);
	display: flex;
	justify-content: flex-end;
	display: none;
}
.tabs__container__button {
	width: 30%;
	display: flex;
	justify-content: space-around;
}
button {
	/* display: none; */
	background-color: transparent;
	border: none;
}
.tabs__button--active {
	color: var(--color--principal);
}

.tabs__button--disable {
	color: var(---color--secondary);
}

/* Title Hotel*/
#main {
	padding-top: 40px;
}
.main__title__hotel,
span {
	color: var(--color--principal);
}
.main__container__title {
	text-align: center;
}
.main__title__hotel {
	font-family: Roboto Slab;
	font-style: normal;
	font-weight: 400;
	font-size: 16px;
	line-height: 30px;
	text-transform: capitalize;
}
span {
	display: flex;
	justify-content: center;
	align-items: center;
	font-weight: 700;
}
.main__title__hotel__rating {
	margin-left: 10px;
}
/*CARD*/
.card__container {
	background-color: var(--color--background);
	display: flex;
	flex-direction: column;
	height: 60vh;
	align-items: center;
	padding: 24px;
	margin-top: 40px;
	border: 1px solid var(--color--border--card);
	box-sizing: border-box;
	border-radius: 2px;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}
.card__title {
	color: var(--color--principal);
	text-align: center;
	font-size: 16px;
	line-height: 16px;
	font-family: var(--font--title--card);
}
hr {
	color: var(--color--principal);
	margin-top: 23px;
	margin-bottom: 18px;
}
.card__list {
	color: var(--color--principal);
	font-size: 16px;
	line-height: 16px;
	font-family: var(--font--title--card);
}
.card__form {
	width: 100%;
	padding: 15px;
	border: 1px solid var(--color--border--card);
}
.card__label__button--active {
	color: var(--color--btn--option--active);
}

/*TAB2*/
#section__services {
	display: flex;
	flex-direction: column;
	background-color: var(--color--background2);
	height: fit-content;
	padding: 20px;
}
#section__mejor__estancia,
#section__servicio-habitación {
	background-color: var(--color--background);
	width: 100%;
	position: relative;
}
.service__website {
	position: absolute;
	top: 0;
	right: 0px;
}
.services__container__title {
	display: flex;
	flex-direction: row;
	height: 14vh;
	align-items: baseline;
	justify-content: space-around;
	padding: 39px 5px 5px 0px;
}
.image-drop-down {
	width: 16px;
	height: 8px;
}
.service__title {
	color: var(--color--secondary);
	font-family: var(--font--title--service);
	font-style: normal;
	font-weight: bold;
	font-size: 24px;
	line-height: 38px;
}
.optional {
	font-family: Roboto;
	font-style: normal;
	font-weight: normal;
	font-size: 14px;
	line-height: 20px;
	color: var(--color--text);
}
/*DESPLEGABLE MEJORA TU ESTANCIA */
.container__dropDown__info {
	border: 1px solid rgba(97, 100, 105, 0.2);
	padding: 12px;
	display: flex;
	flex-direction: column;
	background-color: var(--color--background);
	// display: none;
}
.services__image {
	width: 268px;
	height: 180px;
}
.article__services__title {
	margin-bottom: 10px;
}
.article__services__hotel {
	text-align: justify;
	margin-top: 30px;
}

.container__dropDown__image {
	display: flex;
	flex-direction: column;
	align-items: center;
}
.text {
	font-family: var(--font--title--card);
	color: var(--color--text);
	font-size: 14px;
	line-height: 20px;
	text-align: justify;
}
.link__moreInformation {
	font-family: var(--font--title--service);
	font-style: normal;
	font-weight: bold;
	font-size: 14px;
	line-height: 20px;
	color: var(--color--secondary);
	margin-top: 20px;
}
#container__moreDetails {
	margin-top: 20px;
	// display: none;
}
#promotions {
	margin-top: 20px;
}

#section__servicio-habitación {
	margin-top: 50px;
}
@media only screen and (min-width: 768px) {
	#tabs {
		display: flex;
	}
	.tabs__container__button {
		width: 12%;
	}
	.services__container__title {
		width: 46vw;
		height: 10vh;
	}
	.container__article {
		display: flex;
	}
	.article__services__title {
		text-align: start;
	}
	.article__services__hotel {
		text-align: justify;
		padding: 20px;
		margin-top: 0;
	}
	#section__details__dropDown {
		display: grid;
		grid-template-columns: auto auto auto;
		column-gap: 10px;
		padding: 30px;
	}
	.details {
		padding: 0px 41px;
	}
}
