// This is the entrypoint for your styles.
// Import all your scss files here

@import 'base/variables';
@import 'base/mixins';
@import 'base/typography';
// ...
/* elementos */

/* bloques */

/* modulos */
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

:root {
	--color--background2: #fafafa;
	--color--background: #ffffff;
	--color--gray: #f2f2f2;
	--color--principal: #003970;
	--color--text: #4e5055;
	--color--btn--option--active: #033970;
	--color--secondary: #0c75c5;
	--height--header: 42px;
	--color--border--card: #326c96;
	--font--title--card: 'Roboto', sans-serif;
	--font--title--service: 'Roboto Slab', serif;
}
#section__tabs,
#section__services {
	padding: 0 20px;
	height: max-content;
	background-color: var(--color--background2);
}
/*SECTION HEADER TAB 1*/
header {
	background-color: var(--color--background);
	width: 100%;
	height: var(--height--header);
	display: flex;
	justify-content: flex-end;
	display: none;
}
#tabs__container__button {
	width: 30%;
	display: flex;
	justify-content: space-around;
}
button {
	background-color: transparent;
	border: none;
	cursor: pointer;
	color: var(--color--principal);
}
a {
	text-decoration: none;
}

.tabs__button--active {
	color: var(--color--principal);
}
.tabs__button--disable {
	color: var(---color--secondary);
}

/* TITLE HOTEL TAB 1*/
#main__general__card {
	padding-top: 40px;
}
.main__title__hotel,
span {
	color: var(--color--principal);
}
.main__container__title {
	text-align: center;
}
.main__title__hotel {
	font-family: Roboto Slab;
	font-style: normal;
	font-weight: 400;
	font-size: 16px;
	line-height: 30px;
	text-transform: capitalize;
}
span {
	display: flex;
	justify-content: center;
	align-items: center;
	font-weight: 700;
}
.main__title__hotel__rating {
	margin-left: 10px;
}
/*CARD HOTEL TAB1*/
.card__container {
	background-color: var(--color--background);
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	height: 70vh;
	align-items: center;
	padding: 24px;
	margin-top: 40px;
	border: 1px solid var(--color--border--card);
	box-sizing: border-box;
	border-radius: 2px;
	justify-content: space-between;
}
.card__title {
	color: var(--color--principal);
	text-align: center;
	font-size: 16px;
	line-height: 16px;
	font-family: var(--font--title--card);
}
hr {
	color: var(--color--principal);
	margin-top: 23px;
	margin-bottom: 18px;
}
ul {
	padding: 20px;
}

ul > li.card__list {
	color: var(--color--principal);
	font-size: 16px;
	line-height: 24px;
	font-family: var(--font--title--card);
}

.card__form {
	width: 100%;
	padding: 15px;
	border: 1px solid var(--color--border--card);
	transition: ease-in 0.3s;
	cursor: pointer;
	background-color: var(--color--gray);
}

.card__label__button {
	cursor: pointer;
	color: var(--color--btn--option--active);
}

/*!*****************************************************!*\
/*!*****************************************************!*\
/*MEDIA QUERIES TAB1*/
@media screen and(min-width: 768px) {
	#container__general__card {
		display: grid;
		column-gap: 15px;
		grid-template-columns: repeat(2, auto);
		grid-template-rows: repeat(2, auto);
	}
	.card__container {
		height: 72vh;
	}
}
@media screen and(min-width: 1280px) {
	#container__general__card {
		display: grid;
		grid-template-columns: repeat(12, auto);
		column-gap: 20px;
	}
	#card__one {
		grid-column-start: 1;
		grid-column-end: 4;
	}
	#card__two {
		grid-column-start: 4;
		grid-column-end: 7;
	}
	#card__three {
		grid-column-start: 7;
		grid-column-end: 10;
	}
	#card__four {
		grid-column-start: 10;
		grid-column-end: 13;
	}
}
/*!*****************************************************!*\
/*!*****************************************************!*\



/* STYLE TAB2*/
.nav__bar__mobile {
	display: flex;
	width: 100%;
	justify-content: flex-end;
	padding: 8px;
	right: 13px;
	position: fixed;
	top: 0;
	z-index: 999;
	display: none;
}
#btn-switch-tab1 {
	color: var(--color--secondary);
}

#section__mejor__estancia,
#section__roomService {
	background-color: var(--color--background);
	width: 100%;
	position: relative;
	margin-top: 50px;
	border: 1px solid rgba(97, 100, 105, 0.2);
}
.service__website {
	position: absolute;
	top: 0;
	right: 0px;
}
.services__container__title {
	display: flex;
	flex-direction: row;
	height: fit-content;
	align-items: baseline;
	justify-content: flex-start;
	padding: 37px 6px 10px;
}
.services__container__title > img {
	width: 16px;
	height: 8px;
	cursor: pointer;
}

.colapse_title {
	color: var(--color--secondary);
	font-family: var(--font--title--service);
	font-style: normal;
	font-weight: bold;
	font-size: 24px;
	line-height: 38px;
	transition: ease-in;
}

.optional {
	font-family: Roboto;
	font-style: normal;
	font-weight: normal;
	font-size: 14px;
	line-height: 20px;
	color: var(--color--text);
}
/*!*****************************************************!*\
/*DESPLEGABLE MEJORA TU ESTANCIA */
.container__dropDown__info {
	border: 1px solid rgba(97, 100, 105, 0.2);
	margin: 20px;
	padding: 12px;
	display: flex;
	flex-direction: column;
	background-color: var(--color--background);
	display: none;
}

.services__image {
	width: 268px;
	height: 180px;
}
.article__services__title {
	margin-bottom: 10px;
}
.article__services__hotel {
	text-align: justify;
	margin-top: 30px;
}

.container__dropDown__image {
	display: flex;
	flex-direction: column;
	align-items: center;
}
.text {
	font-family: var(--font--title--card);
	color: var(--color--text);
	font-size: 14px;
	line-height: 20px;
	text-align: justify;
}
.show {
	display: flex;
}

.link__moreInformation {
	font-family: var(--font--title--service);
	font-style: normal;
	font-weight: bold;
	font-size: 14px;
	line-height: 20px;
	color: var(--color--secondary);
	margin-top: 20px;
	cursor: pointer;
}
#container__moreDetails {
	display: none;
}
.show-details {
	display: block !important;
}

#promotions {
	margin-top: 20px;
}

#section__roomService {
	margin-top: 50px;
}
/*!*****************************************************!*\
/*!*****************************************************!*\
/*MEDIA QUERIES TAB2*/
@media only screen and (min-width: 768px) {
	.nav__bar__mobile {
		display: none;
	}
	#tabs {
		display: flex;
	}
	#tabs__container__button {
		width: 12%;
	}

	.container__article {
		display: flex;
	}
	.article__services__title {
		text-align: start;
	}
	.article__services__hotel {
		text-align: justify;
		padding: 20px;
		margin-top: 0;
	}
	.section__details__dropDown {
		display: grid;
		grid-template-columns: auto auto auto;
		column-gap: 10px;
		padding: 30px;
	}
	.details {
		padding: 0px 41px;
	}
}
@media only screen and (min-width: 1280px) {
	.nav__bar__mobile {
		display: none;
	}
	.article__services__hotel {
		padding: 25px 268px 66px 32px;
	}
	.section__details__dropDown {
		display: grid;
		grid-template-columns: auto auto auto;
		column-gap: 43px;
	}

	#section__servicio-habitación {
		margin-top: 50px;
		margin-bottom: 119px;
	}
	.container__dropDown__info {
		margin-bottom: 32px;
	}
}
