// Add your sass variables here
// For examples, colors, font related, media queries breakpoints, z-index...

// Colors
$c-primary: #003970;
$c-secondary: #0c75c5;
$c-text: #4e5055;
$c-background: #ffffff;
$c-background-2: #fafafa;
$c-border: #326c96;

// ...

// Font
$f-base: 16;
// ...
